.card-container * {
	box-sizing: border-box;
}
.card-container {
	background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 740px;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}
.card {
	perspective: 1500px;
    position: absolute;
    left: calc(50% - 175px);
    top: calc(50% - 250px);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: initial;
    transform: rotate(-10deg) translate(0, 0);
    animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
.card:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 50px #000;
    transition: all 0.5s ease-in-out;
}

.card.is-opened {
    transform: rotate(0deg) translate(175px, 0);
}
.card.is-opened .card-page-front {
    transform: rotateY(-180deg);
}

@keyframes cardIn {
    0% {
        opacity: 0;
        transform: rotate(-10deg) translate(0, -100%);
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotate(-10deg) translate(0, 0);
    }
}

.card,
.card-page {
    width: 350px;
    height: 500px;
}
.card-page {
    transition: transform 1s ease-in-out;
    cursor: pointer;
    position: absolute;
    outline: 1px solid transparent;
}
.card-page-front {
    transform-origin: 0 50% 0;
    transform-style: preserve-3d;
    transform: rotateY(-20deg);
    z-index: 2;
}
.card-page-outside,
.card-page-inside {
    position: absolute;
    -webkit-backface-visibility: hidden;
}
.card-page-outside {
    border: 10px solid #fbfbfb;
    background-color: #c72320;
    background-image: url("img/front-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}